html, body {
  height: 100%;
}

h1 {
  margin: 0;
}

main {
  background: url('../images/yard.png') no-repeat;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.cat-box {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
}

#cat1 {
  top: 360px;
  left: 110px;
}

#cat2 {
  top: 240px;
  right: 150px;
}

#cat3 {
  top: 440px;
  right: 210px;
}

#cat4 {
  top: 360px;
  right: 450px;
}

#cat5 {
  top: 120px;
  right: 330px;
}

#cat-book {
  position: absolute;
  top: 70px;
  left: 100px;
  width: 300px;
  color: #fff;
  max-height: 230px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#cat-book-list li {
  list-style-type: none;
}

